# ==========================================
# Результаты сборки (Build Artifacts)
# ==========================================
# Игнорируем папку сборки, куда Make складывает .o, .d и финальный .elf
build/
Build/
obj/
bin/

# Конкретные расширения файлов сборки (на случай, если они компилируются в корень)
*.o
*.obj
*.d
*.elf
*.hex
*.bin
*.map
*.lst

# ==========================================
# Файлы операционной системы и логов
# ==========================================
*.log
.DS_Store
Thumbs.db
